body{
    background-image: url(Image/agila.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
 }

 .container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 .card{
     background-color: darkgrey;
     width: 300px;
     margin: 20px;
     border-radius: 10px;
 }
 .card-image {
     height: 150px;
     margin-bottom: 15px;
     background-size: cover;
     border-radius: 15px 15px 0 0;
 }
 .Vi-1 {
     background-image:url(Image/pheagle.jpg) ; 
     background-size: cover;  
     background-position: center;
 }
 .Vi-2 {
     background-image: url(Image/Mt\ apo.jpg);
     background-position: center;
 }
 .Vi-3 {
     background-image: url(Image/AFalls.jpg);
 }

 .card h2{
     padding: 10px;
 }

 .card p{
    padding: 10px;
 }
 .card a{
     background-color: black;
     color: aliceblue;
     padding: 15px 20px;
     display: block;
     text-align: center;
     margin: 20px 50px;
     text-decoration: none;
 }

 .card:hover {
     background-color:rgb(62,62,62);
     color: white;
     cursor: pointer;
     transform: scale(1.03);
     transition: all 1s ease;
 }